<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        main{
            width: 80%;
            margin: 5px auto;
            height: 90vh;
            background-color: rgb(61, 61, 61);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card{
            width: 50%;
            height: 200px;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-size: 25px;">Laurão maromba</a>
         
          
        </div>
      </nav>
      <main>
        <div class="card" style="width: 18rem;">
            <img src="https://www.freepik.com/free-photo/close-up-man-s-hand-doing-exercise-with-dumbbells_3607624.htm#query=rosca%20direta%20academia&position=14&from_view=search&track=ais" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title" id="card-title">Card title</h5>
          <p class="card-text" id="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        fetch('http://localhost:3000/getSkin')
        .then(response => response.json())
        .then(data =>{
            const tit = document.querySelector("#card-title")
            const pri = document.querySelector("#card-text")
            tit.innerHTML = `Dados:<br> ${data.name}, a ${data.description}`
            pri.innerHTML = `Preço: R$${data.value},00`

        })
        
    </script>
</body>
</html>